<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\logs\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="weblayout" value="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

  <targets>
    <target xsi:type="NLogViewer" name="logviewer" address="udp://127.0.0.1:9999" layout="${weblayout}" />
    <target xsi:type="File" name="logfile" fileName="c:\logs\nlog-${shortdate}.log" layout="${weblayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logviewer" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>